body {
    background: url("racing-bikes.jpg");
    background-size: 100%;
}

#map-container {
    height: 600px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    opacity: 0.9;
    border: 3px solid black;
    position:relative;
}

#map-canvas {
    height: 100%;
    width: 100%;
    top:0;
    position:absolute;
}

#panel {
    position: relative;
/*    height: 30px;*/
    top: 15px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
/*    opacity: 0.9;*/
}

label {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    font-weight: bold;
    width: 100px;
}

input.txt {
    width:95%;
    border:none;
    padding:0px;
    height: auto;
    margin: 0px;
    outline: none;
    display: inline-block;
}

#startDiv {
    border-bottom: 1px solid gray;
}

.tbDiv {
    display: inline-block;
    width: calc(100% - 116px);
    height:30px;
    vertical-align: middle;
    margin-right:10px;
/*    text-align: center;*/
}

button {
    left:100%;
    position:absolute;
    width:100px;
    height:calc(12px + 100%);
    top:-6px;
}

form {
    width:100%;
    height:100%;
    position:relative;
}